body{
	background-color:gray;
	color:black;
}
a{
	color:blue;
}
#container{
	background-color:black;
	color:silver;
}
.comment{
	background-color:#333333;
	color:silver;
}
.plan{
	color:blue;
}
.pass{
	color:green;
}
.skip{
	color:cyan;
}
.todofail{
	background-color:cyan;
}
.fail{
	color:red;
}
.todopass{
	background-color:cyan;
}
.skipfail{
	background-color:yellow;
}
.parseErr{
	background-color:gray;
}
.bailout{
	background-color:red;
	color:black;
}
